<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Winkel"
        tools:targetApi="31">
        <activity
            android:name=".deletePages.ConfirmDeletionFragment"
            android:exported="false" />
        <activity
            android:name=".deletePages.DeleteAccountFragment"
            android:exported="false" />
        <activity
            android:name="._old.SupportUsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutFragment"
            android:exported="false" />
        <activity
            android:name=".PermissionsFragment"
            android:exported="false" />
        <activity
            android:name=".HelpFeedbackFragment"
            android:exported="false" />
        <activity
            android:name="._old.SoundActivity"
            android:exported="false" />
        <activity
            android:name="._old.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".SecurityFragment"
            android:exported="false" />
        <activity
            android:name=".LanguagesFragment"
            android:exported="false" />
        <activity
            android:name=".ThemeFragment"
            android:exported="false" />
        <activity
            android:name=".adminPages.AllUsersActivity"
            android:exported="false" />
        <activity
            android:name=".adminPages.OrdersFragment"
            android:exported="false" />
        <activity
            android:name=".vendorPages.MyItemsFragment"
            android:exported="false" />
        <activity
            android:name=".MyOrdersFragment"
            android:exported="false" />
        <activity
            android:name="._old._payment.MyPaymentMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalDataFragment"
            android:exported="false" />
        <activity
            android:name=".PinFragment"
            android:exported="false" />
        <activity
            android:name="._old.addPaymentPage.addPaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".vendorPages.AddItemFragment"
            android:exported="false" />
        <activity
            android:name=".auth.signin.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".auth.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name="._old._payment.view.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".item.ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>