<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Winkel"
        tools:targetApi="31">
        <activity
            android:name=".secondPages.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.SupportUsActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.HelpFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.SoundActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.SecurityActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.LanguagesActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.ThemeActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.AllUsersActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.MyItemsActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.MyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.MyPaymentMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.PersonalDataActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.PinActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.addPaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".sign.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".mainPages.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sign.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".secondPages.ItemDetailActivity"
            android:exported="false" />
    </application>

</manifest>